* {
    color: #AEC3B0;
}

body {
    text-align: center;
    background-color: #392F5A;
}

a {
    color: darksalmon;
}

a:hover {
    color: darkgreen;
}

b {
    font-weight: 800;
}

main {
    margin-left: 30%;
    margin-right: 30%;
}

.index {
    text-align: center;
}

ul, p, ol {
    text-align: left;
}

ol {
    width: 100%;
}

footer p {
    text-align: center;
}

img {
    width: 60%;
}

figcaption {
    text-align: center;
    font-style: oblique;
}

.tabular {
    padding: 10px;
    margin: auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid;
    padding: 5px;
    text-align: left;
    border-color: #AEC3B0;
}

figure {
    margin: auto;
}

.tables {
    margin-left: 25%;
    margin-right: 25%;
}

.table2 th {
    background-color: #A882DD;
}

th strong {
    color: black;
}

.tables table.table2 tr:nth-child(odd) td:not(.department){
    background-color: #AEC3B0;
    color: #392F5A;
}

.tablecaption {
    text-align: left;
    font-style: normal;
}