body {
    text-align: center;
    background-color: #80A4ED;
}

a {
    color: #FBB7C0;
}

a:hover {
    color: darkgreen;
}

b {
    font-weight: 800;
}

main {
    margin-left: 35%;
    margin-right: 35%;
}

.index {
    text-align: center;
}

ul, p {
    text-align: left;
}

footer p {
    text-align: center;
}

img {
    width: 60%;
}

figcaption {
    text-align: center;
    font-style: oblique;
}