* {
    color: #AEC3B0;
}

body {
    text-align: center;
    background-color: #392F5A;
}

a {
    color: darksalmon;
}

a:hover {
    color: darkgreen;
}

b {
    font-weight: 800;
}

main {
    margin-left: 35%;
    margin-right: 35%;
}

.index {
    text-align: center;
}

ul, p, ol {
    text-align: left;
}

footer p {
    text-align: center;
}

img {
    width: 60%;
}

figcaption {
    text-align: center;
    font-style: oblique;
}

.tabular {
    margin: auto;
    padding: 10px;
    width: 80%;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid;
}