<h1>Erick Sanchez's Egotistical Shark ☯ ITIS-3135</h1>
<nav>
    <a href="./">Home</a>
    &nbsp;☯&nbsp;
    <a href="introduction.html">Introduction</a>
    &nbsp;☯&nbsp;
    <a href="contract.html">Contract</a>
    &nbsp;☯&nbsp;
    <a href="tables.html">Tables</a>
    &nbsp;☯&nbsp;
    <a href="forms.html">Forms</a>
    &nbsp;☯&nbsp;
    <a href="website_evaluations.html">Website Evaluations</a>
    &nbsp;☯&nbsp;
    <a href="about.html">About</a>
</nav>
<nav>
    <a href="stuff/*crAppY (Web)SITe.htm">CRAPPY</a>
</nav>
